body {
    background-color: #000000;
    color: white;
    font-family: 'Press Start 2P', cursive;
    margin: 0px;
}

input{
    color: #000000;
    font-family: 'Press Start 2P', cursive;
}

header {
    text-align: center;
    margin: 0px;
    padding: 9px;
    color: #000000;
    background-image: url("photos/seamless-background-pac-man-chalk-pattern-white.jpg");
}

h1 {
    text-shadow: 2px 2px rgba(158, 158, 158, 0.562);
}

menu {
    overflow: hidden;
    background-color:#eeeeeeec;

    margin: 0;
    padding: 0;
    text-align: up;
    list-style-type: none;
}

menu a {
    float: left;
    color: black;
    text-align: center;
    padding: 8px 20px;
    text-decoration: none;
    font-size: 18px;
    display: block;
}

menu a:hover {
    background-color: rgba(180, 180, 180, 0.795);
    color: black;
}

.column {
    float: left;
    
}

.column.side.left {
    width: 22%; 
    margin-left: 5px;
}
.column.side.right {
    width: 15%;
}

.column.middle {
    width: 61%;			
}

canvas{
    border: whitesmoke;
    border-style:ridge;
    border-radius: 5px;
}


footer {
    padding: 15px;
    text-align: center;
    font-size: 13px;
    margin-top: 576px;

}
button,.submit{
    background-color: #fde457;
    color: #000000;
    font-family: 'Press Start 2P', cursive;
    font-size: 19px;
    border-radius: 4px;

}	

.submit:hover{
    background-color: #fde457bb;
}
button:hover{
    background-color: #fde457bb;
}

#randomSetups,#Stopaudio{
    background-color: #19417e;
    color: #ffffff;
    
}
#randomSetups:hover,#Stopaudio:hover{
    background-color: #19417ebb;
}

#newGameB{
    width: 120px;
    height: 40px;
    font-size: 20px;
}
#ghostsCap,#appleTime{
    text-align: left;
}

.demoPoints{
    border-radius: 4px;
}

.keys{
    background-color: #d8d8d8;
    color: #000000;
    font-family: 'Press Start 2P', cursive;
    font-size: 17px;
    width: 55px;
    height: 50px;
    border-radius: 8px;
    font-size: 15px;
    text-align: center;
}

.keys:hover{
    background-color: #d8d8d8d2;
}


div.fixed {
    position: absolute;
    text-align: center;
    height: 100%;
    width: 100%;
    margin: 0;
    display: none;

}

#Setups{
    display: inline-block;
    width:420px;

    font-size: 18px;
}

    #registration label{
    display: inline-block;
    width: 150px;
}
#registration{
    display: inline-block;
    text-align: left;
}

form div {
    margin-bottom: 10px;
}

.error {
    color: red;
    margin-left: 5px;
}

label.error {
    display: inline;
}
label{
    font-size: 18px;
}

  #myModal{
    color: black;
  }

  .welcome{
    width: 135px;
    height: 35px;
    font-size: 20px;
}

